.header { 
    margin-top:20px;
}
.disclaimer_ahec {
    font-size: 10px;
    font-style: italic;
}
.what_is_ahec {
margin-bottom: 0;
}
.learning{
    margin-top:10px;
    margin-bottom: 20px;
}
.small_text{
    
}




footer {
padding-top: 30px;
background-color: #262729;
height:300px;
}
.footer_notes {
  color:white;
  margin-left: 10px;

}