body {
  background-color: #cccccc;
}
.icon-heart:hover {
  text-decoration: none;
  color:pink;
}
.mission_logo {
  width: 50%;
  display: block;
margin:0 auto;
}
.mission_two{
  padding-top: 15px;
}
.social_media{
  padding-top:20px;
}
.social_media a {
  font-size: 40px;
  padding: 20px;
}
.icon-heart {
  color:red;
}
.icon-heart a:hover{
  text-decoration: none;
}
.banner .col-12 {
padding-top:45px;
}
.content-1 {
padding-top:100px;
}
.content-2 {
padding: 10px;
padding-bottom: 150px;
}
.title {
padding-top: 10px;
}
.donate{
margin-left:auto;
}

footer {
padding-top: 30px;
background-color: #262729;
height:300px;
}
.footer_notes {
  color:white;

}
form {
  margin: 0 auto;
  width: 100px;
}

@media (min-width: 768px) {


}
