body {
  background-color: #cccccc;
}
.mission_logo {
  width: 50%;
  display: block;
margin:0 auto;
}
.social_media{
  padding-top:20px;
}
.social_media a {
  font-size: 40px;
}
.banner .col-12 {
padding-top:45px;
}
.content-1 {
padding-top:100px;
}
.content-2 {
padding: 10px;
}
.title {
padding-top: 10px;
}
.donate{
margin-left:auto;
}

footer {
padding-top: 10px;
background-color: #cccccc;
height:100px;
}
form {
  margin: 0 auto;
  width: 100px;
}
.sm_sq {
width: 20px;
height:20px;
background-color: red;
display: inline;
margin: 10px;
}
.credit {
  text-align:center;
  font-size:5;
  color:;
}

@media (min-width: 768px) {


}
